pitch_monitor/.idea/
pitch_monitor/cmake-build-debug/
pitch_monitor/cmake-build-debug-cygwin/CMakeCache.txt
pitch_monitor/cmake-build-debug-cygwin/
pitch_monitor/cmake-build-debug-visual-studio/
pitch_monitor/.vs/
pitch_monitor/out/
